$main-green: #007645;
$main-green-hover: #009758;
$main-gray: #646464;
$main-gray-hover: #8D8D8D;
$main-red: #753939;
$main-red-hover: #5e0e0e;
$border-color: #383838;
$background-color: #161616;
$input-border-color: #454545;
$form-background: #242424;
$text-color: #fff;