<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Post a job position or create your online resume by TheJobs!">
  <meta name="keywords" content="">

  <title>TheJobs - Редактирование вакансий</title>

  <!-- Styles -->
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
    rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="nav-on-header bg-alt">


  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right">

        <div class="dropdown user-account">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <img src="assets/img/logo-envato.png" alt="avatar">
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="user-login.html">Авторизоваться</a></li>
            <li><a href="user-register.html">Зарегистрироваться</a></li>
            <li><a href="user-forget-pass.html">Забыли пароль</a></li>
            <li><a href="#">Выйти</a></li>
          </ul>
        </div>

      </div>
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a href="index.html">Главная</a>
          <ul>
            <li><a href="index.html">Вариант 1</a></li>
            <li><a href="index-2.html">Вариант 2</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Вакансии</a>
          <ul>
            <li><a href="job-list-1.html">Работа - 1</a></li>
            <li><a href="job-list-2.html">Работа - 2</a></li>
            <li><a href="job-list-3.html">Работа - 3</a></li>
            <li><a href="job-detail.html">Описание предложения</a></li>
            <li><a href="job-add.html">Опубликовать вакансию</a></li>
            <li><a href="job-manage.html">Редактировать предложения о работе</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Резюме</a>
          <ul>
            <li><a href="resume-list.html">Просмотреть резюме</a></li>
            <li><a href="resume-detail.html">Инфо о резюме</a></li>
            <li><a href="resume-add.html">Создать резюме</a></li>
            <li><a href="resume-manage.html">Редактировать резюме</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Компании</a>
          <ul>
            <li><a href="company-list.html">Просмотреть компании</a></li>
            <li><a href="company-detail.html">Инфо о компании</a></li>
            <li><a href="company-add.html">Добавить компанию</a></li>
            <li><a href="company-manage.html">Редактировать компании</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Страницы</a>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-pricing.html">Наши цены</a></li>
            <li><a href="page-typography.html">Типографские услуги</a></li>
            <li><a href="page-ui-elements.html">UI элементы</a></li>
          </ul>
        </li>
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>
  <!-- END Navigation bar -->


  <!-- Page header -->
  <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner1.jpg)">
    <div class="container no-shadow">
      <h1 class="text-center">Редактирование вакансий</h1>
      <p class="lead text-center">Ниже список ваших вакансий. Вы может их редактировать, удалить или добавить новые.</p>
    </div>
  </header>
  <!-- END Page header -->


  <!-- Main container -->
  <main>
    <section class="no-padding-top bg-alt">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 text-right">
            <br>
            <a class="btn btn-primary btn-sm" href="job-add.html">Добавить новую вакансию</a>
          </div>


          <!-- Job detail -->
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                <div class="hgroup">
                  <h4><a href="job-detail.html">Senior front-end developer</a></h4>
                  <h5><a href="company-detail.html">Google</a></h5>
                </div>
                <div class="header-meta">
                  <span class="location">Menlo park, CA</span>
                  <time datetime="2016-03-10 20:00">34 min ago</time>
                </div>
              </header>

              <footer>
                <p class="status"><strong>Status:</strong> Pending approval</p>

                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="#">Edit</a>
                  <a class="btn btn-xs btn-danger" href="#">Delete</a>
                </div>
              </footer>
            </div>
          </div>
          <!-- END Job detail -->


          <!-- Job detail -->
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
                <div class="hgroup">
                  <h4><a href="job-detail.html">Software Engineer (Entry or Senior)</a></h4>
                  <h5><a href="company-detail.html">Google</a></h5>
                </div>
                <div class="header-meta">
                  <span class="location">Livermore, CA</span>
                  <time datetime="2016-03-10 20:00">8 hours ago</time>
                </div>
              </header>

              <footer>
                <p class="status"><strong>Status:</strong> Expires on 14 April</p>

                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="#">Edit</a>
                  <a class="btn btn-xs btn-success" href="#">Mark filled</a>
                  <a class="btn btn-xs btn-danger" href="#">Delete</a>
                </div>
              </footer>
            </div>
          </div>
          <!-- END Job detail -->


          <!-- Job detail -->
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-envato.png" alt=""></a>
                <div class="hgroup">
                  <h4><a href="job-detail.html">Full Stack Web Developer</a></h4>
                  <h5><a href="company-detail.html">Envato</a> <span class="label label-success">Filled</span></h5>
                </div>
                <div class="header-meta">
                  <span class="location">Menlo park, CA</span>
                  <time datetime="2016-03-10 20:00">2 days ago</time>
                </div>
              </header>

              <footer>
                <p class="status"><strong>Status:</strong> Closed</p>

                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="#">Edit</a>
                  <a class="btn btn-xs btn-danger" href="#">Delete</a>
                </div>
              </footer>
            </div>
          </div>
          <!-- END Job detail -->


          <!-- Job detail -->
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-facebook.png" alt=""></a>
                <div class="hgroup">
                  <h4><a href="job-detail.html">Web Applications Developer</a></h4>
                  <h5><a href="company-detail.html">Facebook</a> <span class="label label-danger">No-one found</span>
                  </h5>
                </div>
                <div class="header-meta">
                  <span class="location">Lexington, MA</span>
                  <time datetime="2016-03-10 20:00">Feb 26, 2016</time>
                </div>
              </header>

              <footer>
                <p class="status"><strong>Status:</strong> Closed</p>

                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="#">Edit</a>
                  <a class="btn btn-xs btn-danger" href="#">Delete</a>
                </div>
              </footer>
            </div>
          </div>
          <!-- END Job detail -->


          <!-- Job detail -->
          <div class="col-xs-12">
            <div class="item-block">
              <header>
                <a href="company-detail.html"><img src="assets/img/logo-microsoft.jpg" alt=""></a>
                <div class="hgroup">
                  <h4><a href="job-detail.html">Sr. SQL Server Developer</a></h4>
                  <h5><a href="company-detail.html">Microsoft</a> <span class="label label-success">Filled</span></h5>
                </div>
                <div class="header-meta">
                  <span class="location">Palo Alto, CA</span>
                  <time datetime="2016-03-10 20:00">Feb 16, 2016</time>
                </div>
              </header>

              <footer>
                <p class="status"><strong>Status:</strong> Closed</p>

                <div class="action-btn">
                  <a class="btn btn-xs btn-gray" href="#">Edit</a>
                  <a class="btn btn-xs btn-danger" href="#">Delete</a>
                </div>
              </footer>
            </div>
          </div>
          <!-- END Job detail -->

        </div>
      </div>
    </section>
  </main>
  <!-- END Main container -->


  <!-- Site footer -->
  <footer class="site-footer">

    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>О нас</h6>
          <p class="text-justify">Мы создаем передовые технологии на всех доступных платформах для того, чтобы
            работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Наша компания</h6>
          <ul class="footer-links">
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-typography.html">Как это работает</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-typography.html">Политика безопасности</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Самые популярные вакансии</h6>
          <ul class="footer-links">
            <li><a href="job-list.html">Фронт-энд девелопер</a></li>
            <li><a href="job-list.html">Android девелопер</a></li>
            <li><a href="job-list.html">iOS девелопер</a></li>
            <li><a href="job-list.html">Full stack девелопер</a></li>
            <li><a href="job-list.html">Руководитель проекта</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2022 Все права защищены <a
              href="http://themeforest.net/user/shamsoft">Python Style Crew</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->


  <!-- Back to top button -->
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  <!-- END Back to top button -->

  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>