<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Post a job position or create your online resume by TheJobs!">
  <meta name="keywords" content="">

  <title>TopJob - Добавить вакансию</title>

  <!-- Styles -->
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/css/summernote.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
    rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="nav-on-header">

  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right">

        <div class="dropdown user-account">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <img src="assets/img/logo-envato.png" alt="avatar">
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="user-login.html">Авторизация</a></li>
            <li><a href="user-register.html">Регистрация</a></li>
            <li><a href="user-forget-pass.html">Забыли пароль</a></li>
            <li><a href="#">Выйти</a></li>
          </ul>
        </div>

      </div>
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a href="index.html">Главная</a>
          <ul>
            <li><a href="index.html">Вариант 1</a></li>
            <li><a href="index-2.html">Вариант 2</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Вакансии</a>
          <ul>
            <li><a href="job-list-1.html">Вакансия - 1</a></li>
            <li><a href="job-list-2.html">Вакансия - 2</a></li>
            <li><a href="job-list-3.html">Вакансия - 3</a></li>
            <li><a href="job-detail.html">Инфо о вакансии</a></li>
            <li><a class="active" href="job-add.html">Добавить вакансию</a></li>
            <li><a href="job-manage.html">Редактировать вакансии</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Резюме</a>
          <ul>
            <li><a href="resume-list.html">Просмотреть резюме</a></li>
            <li><a href="resume-detail.html">Инфо о резюме</a></li>
            <li><a href="resume-add.html">Создать резюме</a></li>
            <li><a href="resume-manage.html">Редактировать резюме</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Компании</a>
          <ul>
            <li><a href="company-list.html">Просмотреть компании</a></li>
            <li><a href="company-detail.html">Инфо о компании</a></li>
            <li><a href="company-add.html">Добавить компанию</a></li>
            <li><a href="company-manage.html">Редактировать компании</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Страницы</a>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-pricing.html">Наши цены</a></li>
            <li><a href="page-typography.html">Типографские услуги</a></li>
            <li><a href="page-ui-elements.html">UI элементы</a></li>
          </ul>
        </li>
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>
  <!-- END Navigation bar -->


  <!-- Page header -->
  <header class="page-header">
    <div class="container page-name">
      <h1 class="text-center">Добавить новую вакансию</h1>
      <p class="lead text-center">Добавьте новую вакансию и сделайте ее доступной онлайн.</p>
    </div>

    <div class="container">

      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <input type="text" class="form-control input-lg" placeholder="должность, например Front-end девелопер">
        </div>

        <div class="form-group col-xs-12 col-sm-6">
          <select class="form-control selectpicker">
            <option>Выбрать компанию</option>
            <option>Google</option>
            <option>Microsoft</option>
            <option>Apple</option>
            <option>Facebook</option>
          </select>
          <a class="help-block" href="company-add.html">Добавить новую компанию</a>
        </div>

        <div class="form-group col-xs-12">
          <textarea class="form-control" rows="3" placeholder="Краткое описание"></textarea>
        </div>

        <div class="form-group col-xs-12">
          <input type="text" class="form-control" placeholder="Application URL">
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input type="text" class="form-control" placeholder="Месторасположение">
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
            <select class="form-control selectpicker">
              <option>Полная занятость</option>
              <option>Частичная занятость</option>
              <option>Стажировка</option>
              <option>Фриланс</option>
              <option>Удаленная работа</option>
            </select>
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-money"></i></span>
            <input type="text" class="form-control" placeholder="Зарплата">
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            <input type="text" class="form-control" placeholder="Рабочих часов в неделю">
            <span class="input-group-addon">часы / неделя</span>
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-flask"></i></span>
            <input type="text" class="form-control" placeholder="Опыт">
            <span class="input-group-addon">лет</span>
          </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
            <select class="form-control selectpicker" multiple>
              <option>Доктор наук</option>
              <option>Кандидат наук</option>
              <option>Магистр</option>
              <option selected>Бакалавр</option>
            </select>
          </div>
        </div>


      </div>

      <div class="button-group">
        <div class="action-buttons">
          <div class="upload-button">
            <button class="btn btn-block btn-primary">Choose a cover image</button>
            <input id="cover_img_file" type="file">
          </div>
        </div>
      </div>

    </div>
  </header>
  <!-- END Page header -->


  <!-- Main container -->
  <main>


    <!-- Job detail -->
    <section>
      <div class="container">

        <header class="section-header">
          <span>Описание</span>
          <h2>Информация о вакансии</h2>
          <p>Напишите о своей компании, опишите вакансию, требованиях к кандидатам, уровне зарплаты и т.п.</p>
        </header>

        <textarea class="summernote-editor"></textarea>

      </div>
    </section>
    <!-- END Job detail -->


    <!-- Submit -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <span>Все готово?</span>
          <h2>Отправляйте вакансию</h2>
          <p>Пожалуйста, перед отправкой проверьте всю информации о вакансии еще раз.</p>
        </header>

        <p class="text-center"><button class="btn btn-success btn-xl btn-round">Добавить вакансию</button></p>

      </div>
    </section>
    <!-- END Submit -->


  </main>
  <!-- END Main container -->


  <!-- Site footer -->
  <footer class="site-footer">

    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>О нас</h6>
          <p class="text-justify">Мы создаем передовые технологии на всех доступных платформах для того, чтобы
            работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Наша компания</h6>
          <ul class="footer-links">
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-typography.html">Как это работает</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-typography.html">Политика безопасности</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Самые популярные вакансии</h6>
          <ul class="footer-links">
            <li><a href="job-list.html">Фронт-энд девелопер</a></li>
            <li><a href="job-list.html">Android девелопер</a></li>
            <li><a href="job-list.html">iOS девелопер</a></li>
            <li><a href="job-list.html">Full stack девелопер</a></li>
            <li><a href="job-list.html">Руководитель проекта</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2022 Все права защищены <a
              href="http://themeforest.net/user/shamsoft">Python Style Crew</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->


  <!-- Back to top button -->
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  <!-- END Back to top button -->

  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/summernote.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>