<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Post a job position or create your online resume by TheJobs!">
  <meta name="keywords" content="">

  <title>TopJob - UI Элементы</title>

  <!-- Styles -->
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
    rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="nav-on-header">

  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right user-login">
        <a class="btn btn-sm btn-primary" href="user-login.html">Авторизоваться</a> или <a
          href="user-register.html">зарегистрироваться</a>
      </div>
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a href="index.html">Главная</a>
          <ul>
            <li><a href="index.html">Вариант 1</a></li>
            <li><a href="index-2.html">Вариант 2</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Вакансии</a>
          <ul>
            <li><a href="job-list-1.html">Вакансия - 1</a></li>
            <li><a href="job-list-2.html">Вакансия - 2</a></li>
            <li><a href="job-list-3.html">Вакансия - 3</a></li>
            <li><a href="job-detail.html">Инфо о вакансии</a></li>
            <li><a href="job-add.html">Добавить вакансию</a></li>
            <li><a href="job-manage.html">Редактировать вакансии</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Резюме</a>
          <ul>
            <li><a href="resume-list.html">Просмотреть резюме</a></li>
            <li><a href="resume-detail.html">Инфо о резюме</a></li>
            <li><a href="resume-add.html">Создать резюме</a></li>
            <li><a href="resume-manage.html">Редактировать резюме</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Компании</a>
          <ul>
            <li><a href="company-list.html">Просмотреть компании</a></li>
            <li><a href="company-detail.html">Инфо о компании</a></li>
            <li><a href="company-add.html">Создать компанию</a></li>
            <li><a href="company-manage.html">Редактировать компании</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Страницы</a>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-contact.html">Контакты</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a class="active" href="page-pricing.html">Наши цены</a></li>
            <li><a href="page-typography.html">Типографские услуги</a></li>
            <li><a href="page-ui-elements.html">UI элементы</a></li>
          </ul>
        </li>
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>
  <!-- END Navigation bar -->


  <!-- Site header -->
  <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
      <h1 class="text-center">UI Элементы</h1>
      <p class="lead">Nullam at elementum risus. Quisque ornare hendrerit risus, sed cursus lectus accumsan eu.
        Suspendisse non ultrices urna. Aenean vel leo dictum, lobortis est non, sollicitudin lorem.</p>
    </div>
  </header>
  <!-- END Site header -->


  <!-- Main container -->
  <main>

    <!-- Buttons -->
    <section class="demo-btn-margin">
      <div class="container">
        <header class="section-header">
          <span>Побуждение к действию</span>
          <h2>Кнопки</h2>
        </header>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4>Регулярные</h4>
            <a class="btn btn-primary" href="#">Образец кнопки</a>
            <a class="btn btn-success" href="#">Образец кнопки</a>
            <a class="btn btn-info" href="#">Образец кнопки</a>
            <a class="btn btn-warning" href="#">Образец кнопки</a>
            <a class="btn btn-danger" href="#">Образец кнопки</a>
            <a class="btn btn-black" href="#">Образец кнопки</a>
            <a class="btn btn-white" href="#">Образец кнопки</a>
          </div>

          <div class="col-sm-12 col-md-6">
            <h4>Контурные</h4>
            <a class="btn btn-outline btn-primary" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-success" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-info" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-warning" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-danger" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-black" href="#">Образец кнопки</a>
            <a class="btn btn-outline btn-white" href="#">Образец кнопки</a>
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4>Скругленные</h4>
            <a class="btn btn-round btn-primary" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-success" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-info" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-warning" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-danger" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-black" href="#">Образец кнопки</a>
            <a class="btn btn-round btn-white" href="#">Образец кнопки</a>
          </div>

          <div class="col-sm-12 col-md-6">
            <h4>Круглые</h4>
            <a class="btn btn-float btn-primary" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-success" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-info" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-warning" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-danger" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-black" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-float btn-white" href="#"><i class="fa fa-pencil"></i></a>
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-xs-12">
            <h4>Разного размера</h4>
            <a class="btn btn-primary btn-xs" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-sm" href="#">Образец кнопки</a>
            <a class="btn btn-primary" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-lg" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-xl" href="#">Образец кнопки</a>

            <br><br>

            <a class="btn btn-primary btn-outline btn-xs" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-outline btn-sm" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-outline" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-outline btn-lg" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-outline btn-xl" href="#">Образец кнопки</a>

            <br><br>

            <a class="btn btn-primary btn-round btn-xs" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-round btn-sm" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-round" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-round btn-lg" href="#">Образец кнопки</a>
            <a class="btn btn-primary btn-round btn-xl" href="#">Образец кнопки</a>

            <br><br>

            <a class="btn btn-primary btn-float btn-xs" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary btn-float btn-sm" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary btn-float" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary btn-float btn-lg" href="#"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary btn-float btn-xl" href="#"><i class="fa fa-pencil"></i></a>
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-xs-12">
            <h4>Разной ширины</h4>
            <button type="button" class="btn btn-block btn-primary">Образец кнопки</button>
            <button type="button" class="btn btn-block btn-success">Образец кнопки</button>
            <br>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-block btn-danger">Образец кнопки</button>
                <button type="button" class="btn btn-block btn-info">Образец кнопки</button>
              </div>

              <div class="col-md-6">
                <button type="button" class="btn btn-block btn-black">Образец кнопки</button>
                <button type="button" class="btn btn-block btn-warning">Образец кнопки</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- END Buttons -->


    <!-- Alerts -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <span>Блок уведомлений</span>
          <h2>Предупреждения</h2>
        </header>

        <div class="alert alert-success" role="alert">
          <strong>Превосходно!</strong> Вы успешно прочитали это важное сообщение.
        </div>

        <div class="alert alert-info" role="alert">
          <strong>Осторожно!</strong> Это предупреждение требует вашего внимание, но оно не сверхважное.
        </div>

        <div class="alert alert-warning" role="alert">
          <strong>Внимание!</strong> Лучше проверьте себя, что-то не так.
        </div>

        <div class="alert alert-danger" role="alert">
          <strong>Ой!</strong> Измените кое-что и попробуйте отправить еще раз.
        </div>

      </div>
    </section>
    <!-- END Alerts -->


    <!-- Form elements -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>Ввод, выбор и т.п.</span>
          <h2>Элементы форм</h2>
        </header>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Ввод</h6>
            <input type="text" class="form-control">

            <h6>С помощью текста</h6>
            <div class="form-group">
              <input type="text" class="form-control">
              <span class="help-block">Блок текста справки, который переходит на новую строку и может выходить за
                пределы одной строки.</span>
            </div>

            <h6>С placeholder'ом</h6>
            <input type="text" class="form-control" placeholder="Placeholder">

            <h6>С метками</h6>
            <div class="form-group">
              <label for="input1">Текст метки</label>
              <input type="text" id="input1" class="form-control">
            </div>

            <h6>Разного размера</h6>
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Маленький">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Нормальный">
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Большой">
            </div>

          </div>

          <div class="col-sm-12 col-md-6">

            <h6>Выбор</h6>
            <div class="form-group">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <h6>Выбор из падающего меню</h6>
            <div class="form-group">
              <select class="form-control selectpicker" data-placeholder="Choose one...">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <select multiple class="form-control selectpicker" data-placeholder="Choose one...">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <h6>Текстовое поле</h6>
            <textarea class="form-control" rows="3"></textarea>

            <h6>Ввод нескольких данных</h6>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username">
                <span class="input-group-addon">@example.com</span>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">.00</span>
              </div>
            </div>

            <div class="form-group">
              <label for="basic-url">Your vanity URL</label>
              <div class="input-group">
                <span class="input-group-addon">https://example.com/users/</span>
                <input type="text" class="form-control" id="basic-url">
              </div>
            </div>

          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Checkbox</h6>
            <div class="checkbox">
              <input type="checkbox" id="checkbox1">
              <label for="checkbox1">Не проверено</label>
            </div>

            <div class="checkbox">
              <input type="checkbox" id="checkbox2" checked>
              <label for="checkbox2">Проверено</label>
            </div>

            <div class="checkbox disabled">
              <input type="checkbox" id="checkbox3" disabled>
              <label for="checkbox3">Не активно и не проверено</label>
            </div>

            <div class="checkbox disabled">
              <input type="checkbox" id="checkbox4" disabled checked>
              <label for="checkbox4">Не активно и проверено</label>
            </div>

            <h6>Переключение</h6>
            <input type="checkbox" class="js-switch" checked>
            <input type="checkbox" class="js-switch-big" checked>
          </div>

          <div class="col-sm-12 col-md-6">
            <h6>Radiobox</h6>
            <div class="radio">
              <input type="radio" name="radio1" id="radio1" value="option1">
              <label for="radio1">Не проверено</label>
            </div>

            <div class="radio">
              <input type="radio" name="radio1" id="radio2" value="option2" checked>
              <label for="radio2">Проверено</label>
            </div>

            <div class="radio disabled">
              <input type="radio" name="radio1" id="radio3" value="option3" disabled>
              <label for="radio3">Не активно не проверено</label>
            </div>

            <div class="radio disabled">
              <input type="radio" name="radio2" id="radio4" value="option4" disabled checked>
              <label for="radio4">Не активно и проверено</label>
            </div>


          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-sm-12 col-md-6">

          </div>

          <div class="col-sm-12 col-md-6">

          </div>
        </div>

      </div>
    </section>
    <!-- END Form elements -->


    <!-- Social media -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <span>Доступные иконки</span>
          <h2>Социальные сети</h2>
        </header>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h5>Обычные</h5>
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="git" href="#"><i class="fa fa-git"></i></a></li>
              <li><a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
              <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a class="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
              <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="reddit" href="#"><i class="fa fa-reddit"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="skype" href="#"><i class="fa fa-skype"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="lastfm" href="#"><i class="fa fa-lastfm"></i></a></li>
              <li><a class="behance" href="#"><i class="fa fa-behance"></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-6">
            <h5>Маленькие</h5>
            <ul class="social-icons size-sm">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="git" href="#"><i class="fa fa-git"></i></a></li>
              <li><a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
              <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a class="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
              <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="reddit" href="#"><i class="fa fa-reddit"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="skype" href="#"><i class="fa fa-skype"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="lastfm" href="#"><i class="fa fa-lastfm"></i></a></li>
              <li><a class="behance" href="#"><i class="fa fa-behance"></i></a></li>
              <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>


      </div>
    </section>
    <!-- END Social media -->


    <!-- Pagination -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>Загрузить больше данных</span>
          <h2>Пагинация</h2>
        </header>

        <div class="row">
          <div class="col-xs-12">

            <h6 class="text-center">Числовая</h6>
            <nav class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <i class="ti-angle-left"></i>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <i class="ti-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>

            <br><br>
            <h6 class="text-center">Страничная</h6>
            <nav>
              <ul class="pager">
                <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Предыдущая</a></li>
                <li class="next"><a href="#">Следующая <i class="ti-arrow-right"></i></a></li>
              </ul>
            </nav>


            <br><br>
            <h6 class="text-center">Spinner</h6>
            <div class="spinner">
              <span class="dot1"></span>
              <span class="dot2"></span>
              <span class="dot3"></span>
            </div>


          </div>
        </div>


      </div>
    </section>
    <!-- END Pagination -->

  </main>
  <!-- END Main container -->


  <!-- Site footer -->
  <footer class="site-footer">

    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>О нас</h6>
          <p class="text-justify">Мы создаем передовые технологии на всех доступных платформах для того, чтобы
            работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Наша компания</h6>
          <ul class="footer-links">
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-typography.html">Как это работает</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-typography.html">Политика безопасности</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Самые популярные вакансии</h6>
          <ul class="footer-links">
            <li><a href="job-list.html">Фронт-энд девелопер</a></li>
            <li><a href="job-list.html">Android девелопер</a></li>
            <li><a href="job-list.html">iOS девелопер</a></li>
            <li><a href="job-list.html">Full stack девелопер</a></li>
            <li><a href="job-list.html">Руководитель проекта</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2022 Все права защищены <a
              href="http://themeforest.net/user/shamsoft">Python Style Crew</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->


  <!-- Back to top button -->
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  <!-- END Back to top button -->

  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>