<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Post a job position or create your online resume by TheJobs!">
  <meta name="keywords" content="">

  <title>TopJob - Наши расценки</title>

  <!-- Styles -->
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
    rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="nav-on-header">

  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right user-login">
        <a class="btn btn-sm btn-primary" href="user-login.html">Авторизоваться</a> или <a
          href="user-register.html">зарегистрироваться</a>
      </div>
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a href="index.html">Главная</a>
          <ul>
            <li><a href="index.html">Вариант 1</a></li>
            <li><a href="index-2.html">Вариант 2</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Вакансии</a>
          <ul>
            <li><a href="job-list-1.html">Вакансия - 1</a></li>
            <li><a href="job-list-2.html">Вакансия - 2</a></li>
            <li><a href="job-list-3.html">Вакансия - 3</a></li>
            <li><a href="job-detail.html">Инфо о вакансии</a></li>
            <li><a href="job-add.html">Добавить вакансию</a></li>
            <li><a href="job-manage.html">Редактировать вакансии</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Резюме</a>
          <ul>
            <li><a href="resume-list.html">Просмотреть резюме</a></li>
            <li><a href="resume-detail.html">Инфо о резюме</a></li>
            <li><a href="resume-add.html">Создать резюме</a></li>
            <li><a href="resume-manage.html">Редактировать резюме</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Компании</a>
          <ul>
            <li><a href="company-list.html">Просмотреть компании</a></li>
            <li><a href="company-detail.html">Инфо о компании</a></li>
            <li><a href="company-add.html">Создать компанию</a></li>
            <li><a href="company-manage.html">Редактировать компании</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Страницы</a>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-contact.html">Контакты</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a class="active" href="page-pricing.html">Наши цены</a></li>
            <li><a href="page-typography.html">Типографские услуги</a></li>
            <li><a href="page-ui-elements.html">UI элементы</a></li>
          </ul>
        </li>
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>
  <!-- END Navigation bar -->


  <!-- Site header -->
  <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
      <h1 class="text-center">Наши цены</h1>
      <p class="lead text-center">Наши цены вас приятно удивят. Вы можете выбирать из трех или четырех пакетов опций.
      </p>
    </div>
  </header>
  <!-- END Site header -->


  <!-- Main container -->
  <main>

    <!-- Three types -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>Опции</span>
          <h2>Три пакета</h2>
        </header>


        <ul class="pricing">
          <li>
            <h6>Базовый Пакет</h6>
            <div class="price">
              <sup>$</sup>0
              <span>&nbsp;</span>
            </div>
            <hr>
            <p><strong>1</strong> публикация вакансии</p>
            <p><strong>Без</strong> продвижения в рекомендациях</p>
            <p><strong>5 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>

          <li>
            <h6>Средний Пакет</h6>
            <div class="price">
              <sup>$</sup>5<sup>.99</sup>
              <span>в месяц</span>
            </div>
            <hr>
            <p><strong>5</strong> публикаций вакансий</p>
            <p><strong>1</strong> поддержка в продвижении вакансии</p>
            <p><strong>30 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>

          <li>
            <h6>Большой Пакет</h6>
            <div class="price">
              <sup>$</sup>15<sup>.99</sup>
              <span>в месяц</span>
            </div>
            <hr>
            <p><strong>20</strong> публикаций вакансий</p>
            <p><strong>5-разовая</strong> помощь в продвижении вакансии</p>
            <p><strong>75 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>
        </ul>

      </div>
    </section>
    <!-- END Three types -->


    <!-- Four types -->
    <section class="bg-alt">
      <div class="container">
        <header class="section-header">
          <span>Опции</span>
          <h2>Четыре пакета</h2>
        </header>


        <ul class="pricing cols-4">
          <li>
            <h6>Базовый Пакет</h6>
            <div class="price">
              <sup>$</sup>0
              <span>&nbsp;</span>
            </div>
            <hr>
            <p><strong>1</strong> публикация вакансии</p>
            <p><strong>Без</strong> продвижения в рекомендациях</p>
            <p><strong>5 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>

          <li>
            <h6>Средний Пакет</h6>
            <div class="price">
              <sup>$</sup>5<sup>.99</sup>
              <span>в месяц</span>
            </div>
            <hr>
            <p><strong>5</strong> публикаций вакансий</p>
            <p><strong>1</strong> поддержка в продвижении вакансии</p>
            <p><strong>30 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>

          <li>
            <h6>Большой Пакет</h6>
            <div class="price">
              <sup>$</sup>15<sup>.99</sup>
              <span>в месяц</span>
            </div>
            <hr>
            <p><strong>20</strong> публикаций вакансий</p>
            <p><strong>5-разовая</strong> помощь в продвижении вакансии</p>
            <p><strong>75 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>

          <li>
            <h6>Мега Пакет</h6>
            <div class="price">
              <sup>$</sup>24<sup>.99</sup>
              <span>в месяц</span>
            </div>
            <hr>
            <p><strong>80</strong> публикаций вакансий</p>
            <p><strong>10-разовая</strong> помощь в продвижении вакансии</p>
            <p><strong>120 дней</strong> пребывания в списках вакансий на сайте</p>
            <br>
            <a class="btn btn-primary btn-block" href="#">Выбрать опцию</a>
          </li>
        </ul>

      </div>
    </section>
    <!-- END Four types -->


  </main>
  <!-- END Main container -->


  <!-- Site footer -->
  <footer class="site-footer">

    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>О нас</h6>
          <p class="text-justify">Мы создаем передовые технологии на всех доступных платформах для того, чтобы
            работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Наша компания</h6>
          <ul class="footer-links">
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-typography.html">Как это работает</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-typography.html">Политика безопасности</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Самые популярные вакансии</h6>
          <ul class="footer-links">
            <li><a href="job-list.html">Фронт-энд девелопер</a></li>
            <li><a href="job-list.html">Android девелопер</a></li>
            <li><a href="job-list.html">iOS девелопер</a></li>
            <li><a href="job-list.html">Full stack девелопер</a></li>
            <li><a href="job-list.html">Руководитель проекта</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2022 Все права защищены <a
              href="http://themeforest.net/user/shamsoft">Python Style Crew</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->


  <!-- Back to top button -->
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  <!-- END Back to top button -->

  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>