<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Post a job position or create your online resume by TheJobs!">
  <meta name="keywords" content="">

  <title>TopJob - Добавить резюме</title>

  <!-- Styles -->
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/vendors/summernote/summernote.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- Fonts -->
  <link
    href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700'
    rel='stylesheet' type='text/css'>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
</head>

<body class="nav-on-header">

  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right">

        <div class="dropdown user-account">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <img src="assets/img/logo-envato.png" alt="avatar">
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="user-login.html">Авторизоваться</a></li>
            <li><a href="user-register.html">Зарегистрироваться</a></li>
            <li><a href="user-forget-pass.html">Забыли пароль</a></li>
            <li><a href="#">Выйти</a></li>
          </ul>
        </div>

      </div>
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a href="index.html">Главная</a>
          <ul>
            <li><a href="index.html">Вариант 1</a></li>
            <li><a href="index-2.html">Вариант 2</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Вакансии</a>
          <ul>
            <li><a href="job-list-1.html">Вакансия - 1</a></li>
            <li><a href="job-list-2.html">Вакансия - 2</a></li>
            <li><a href="job-list-3.html">Вакансия - 3</a></li>
            <li><a href="job-detail.html">Описание вакансии</a></li>
            <li><a href="job-add.html">Добавить вакансию</a></li>
            <li><a href="job-manage.html">Редактировать вакансии</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Резюме</a>
          <ul>
            <li><a href="resume-list.html">Просмотреть резюме</a></li>
            <li><a href="resume-detail.html">Инфо о резюме</a></li>
            <li><a href="resume-add.html">Создать резюме</a></li>
            <li><a href="resume-manage.html">Редактировать резюме</a></li>
          </ul>
        </li>
        <li>
          <a class="active" href="#">Компании</a>
          <ul>
            <li><a href="company-list.html">Просмотреть компании</a></li>
            <li><a href="company-detail.html">Инфо о компании</a></li>
            <li><a class="active" href="company-add.html">Добавить компанию</a></li>
            <li><a href="company-manage.html">Редактировать компании</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Страницы</a>
          <ul>
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-pricing.html">Наши цены</a></li>
            <li><a href="page-typography.html">Типографские услуги</a></li>
            <li><a href="page-ui-elements.html">UI элементы</a></li>
          </ul>
        </li>
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>
  <!-- END Navigation bar -->

  <form action="#">

    <!-- Page header -->
    <header class="page-header">
      <div class="container page-name">
        <h1 class="text-center">Добавьте ваше резюме</h1>
        <p class="lead text-center">Создайте свое резюме и сделайте его доступным онлайн.</p>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <input type="file" class="dropify" data-default-file="assets/img/avatar.jpg">
              <span class="help-block">Пожалуйста, выберите фото 4:6 для профиля.</span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Имя">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Заголовок (например, Фронт-энд девелопер)">
            </div>

            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Немного о себе"></textarea>
            </div>

            <hr class="hr-lg">

            <h6>Основная информация</h6>
            <div class="row">

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                  <input type="text" class="form-control" placeholder="Местоположение">
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                  <input type="text" class="form-control" placeholder="Адрес сайта">
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                  <input type="text" class="form-control" placeholder="Зарплата">
                  <span class="input-group-addon">В час</span>
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                  <input type="text" class="form-control" placeholder="Возраст">
                  <span class="input-group-addon">Лет</span>
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input type="text" class="form-control" placeholder="Номер телефона">
                </div>
              </div>

              <div class="form-group col-xs-12 col-sm-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>

            </div>

            <hr class="hr-lg">

            <h6>Список тегов</h6>
            <div class="form-group">
              <input type="text" value="HTML,CSS,Javascript" data-role="tagsinput" placeholder="Имя тега">
              <span class="help-block">Напишите имя тега и нажмите Enter</span>
            </div>

          </div>
        </div>

        <div class="button-group">
          <div class="action-buttons">

            <div class="upload-button">
              <button class="btn btn-block btn-gray">Выберите файл с резюме</button>
              <input type="file">
            </div>

            <div class="upload-button">
              <button class="btn btn-block btn-primary">Выберите обложку</button>
              <input id="cover_img_file" type="file">
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>


      <!-- Social media -->
      <section>
        <div class="container">

          <header class="section-header">
            <span>Будьте на связи</span>
            <h2>Социальные сети</h2>
          </header>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pinterest"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-github"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                  <input type="text" class="form-control" placeholder="Profile URL">
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- Social media -->



      <!-- Education -->
      <section class=" bg-alt">
        <div class="container">

          <header class="section-header">
            <span>Сведения об образовании</span>
            <h2>Образование</h2>
          </header>

          <div class="row">

            <div class="col-xs-12">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                        <span class="help-block">Пожалуйста, выберите квадратное лого</span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="степень: например, Бакалавр">
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control"
                          placeholder="Сфера интересов, например, Информационные Технологии">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Название учебного заведения">
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">обучение с</span>
                          <input type="text" class="form-control" placeholder="например, 2012">
                          <span class="input-group-addon">до</span>
                          <input type="text" class="form-control" placeholder="например, 2016">
                        </div>
                      </div>

                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Краткое описание"></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 duplicateable-content">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                        <span class="help-block">Пожалуйста, выберите квадратное лого</span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="степень: например, Бакалавр">
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control"
                          placeholder="Сфера интересов, например, Информационные Технологии">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Название учебного заведения">
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">обучение с</span>
                          <input type="text" class="form-control" placeholder="например, 2012">
                          <span class="input-group-addon">до</span>
                          <input type="text" class="form-control" placeholder="например, 2016">
                        </div>
                      </div>

                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Краткое описание"></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <br>
              <button class="btn btn-primary btn-duplicator">Добавить сведения об образовании</button>
            </div>


          </div>
        </div>
      </section>
      <!-- END Education -->


      <!-- Work Experience -->
      <section>
        <div class="container">
          <header class="section-header">
            <span>Ранее занимаемые должности</span>
            <h2>Опыт работы</h2>
          </header>

          <div class="row">

            <div class="col-xs-12">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                        <span class="help-block">Пожалуйста, выберите квадратное лого</span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Название компании">
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Должность">
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">работа с</span>
                          <input type="text" class="form-control" placeholder="например, 2012">
                          <span class="input-group-addon">до</span>
                          <input type="text" class="form-control" placeholder="например, 2016">
                        </div>
                      </div>

                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                        <textarea class="summernote-editor"></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 duplicateable-content">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                        <span class="help-block">Пожалуйста, выберите квадратное лого</span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Название компании">
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Должность">
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Работа с</span>
                          <input type="text" class="form-control" placeholder="например, 2012">
                          <span class="input-group-addon">до</span>
                          <input type="text" class="form-control" placeholder="например, 2016">
                        </div>
                      </div>

                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                        <textarea class="summernote-editor"></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <br>
              <button class="btn btn-primary btn-duplicator">Добавить опыт работы</button>
            </div>


          </div>

        </div>
      </section>
      <!-- END Work Experience -->


      <!-- Skills -->
      <section class=" bg-alt">
        <div class="container">
          <header class="section-header">
            <span>Квалификация</span>
            <h2>Навыки и знания</h2>
          </header>

          <div class="row">

            <div class="col-xs-12">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Навыки: например, HTML">
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">

                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Владение навыком, например, 90">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 duplicateable-content">
              <div class="item-block">
                <div class="item-form">

                  <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Навыки: например, HTML">
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">

                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Владение навыком, например, 90">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <br>
              <button class="btn btn-primary btn-duplicator">Добавить навыки</button>
            </div>


          </div>

        </div>
      </section>
      <!-- END Skills -->



      <!-- Submit -->
      <section class=" bg-img" style="background-image: url(assets/img/bg-facts.jpg);">
        <div class="container">
          <header class="section-header">
            <span>Вы закончили?</span>
            <h2>Отправляйте</h2>
            <p>Пожалуйста, проверьте информацию еще раз и нажмите кнопку ниже для загрузки вашего резюме.</p>
          </header>

          <p class="text-center"><button class="btn btn-success btn-xl btn-round">Отправить резюме</button></p>

        </div>
      </section>
      <!-- END Submit -->


    </main>
    <!-- END Main container -->

  </form>

  <!-- Site footer -->
  <footer class="site-footer">

    <!-- Top section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>О нас</h6>
          <p class="text-justify">Мы создаем передовые технологии на всех доступных платформах для того, чтобы
            работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Наша компания</h6>
          <ul class="footer-links">
            <li><a href="page-about.html">О нас</a></li>
            <li><a href="page-typography.html">Как это работает</a></li>
            <li><a href="page-faq.html">Help center</a></li>
            <li><a href="page-typography.html">Политика безопасности</a></li>
            <li><a href="page-contact.html">Наши контакты</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Самые популярные вакансии</h6>
          <ul class="footer-links">
            <li><a href="job-list.html">Фронт-энд девелопер</a></li>
            <li><a href="job-list.html">Android девелопер</a></li>
            <li><a href="job-list.html">iOS девелопер</a></li>
            <li><a href="job-list.html">Full stack девелопер</a></li>
            <li><a href="job-list.html">Руководитель проекта</a></li>
          </ul>
        </div>
      </div>

      <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyrights &copy; 2022 Все права защищены <a
              href="http://themeforest.net/user/shamsoft">Python Style Crew</a>.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Bottom section -->

  </footer>
  <!-- END Site footer -->


  <!-- Back to top button -->
  <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  <!-- END Back to top button -->

  <!-- Scripts -->
  <script src="assets/js/app.min.js"></script>
  <script src="assets/vendors/summernote/summernote.min.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>